body {
}

.day {
  color: black;
  background-color: #F9F9F9;
}

.night {
  color: white;  
  background-color: #202020;
}

path {
   stroke: #088DC7;
}

svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    zoom : 1.5;
}